body{
    background-color:white;
    
}
.container{
    width: 900px;
    
}
.bg-color{
    background-color: #FFFBF0;
}

.penguin-card{
    border:none;
    background-color:white;
    margin: 1em;
    border-radius: 1em;

}
.penguin-card img{
    background-color: #F1F1F1;
    
}
.penguin-card-footer .card-body{
    background-color:white;
    border: none;
}
